<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: orange;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        border-raidus: 20px;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4> Result !
         Rithika Jenkins project Successful build 3 </h4>
    </div>
  </body>
</html>
